@page
@model EditModel
@{
    ViewData["Title"] = "Server";
}

<div class="text-center">

    <h2>Edit</h2>

    <h4>Server - @Model.Data.Name</h4>
    <hr/>
    <div class="row">
        <div>
            <form method="post">

                <input type="hidden" asp-for="Data.Name"/>

                @foreach (var property in Model.Data.Properties)
                {
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">@property.Key</label>
                        <div class="col-sm-10">
                            <input asp-for="@Model.Data.Properties[property.Key]" class="form-control"/>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <a class="btn btn-sm btn-secondary" href="Index" role="button">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-sm btn-primary"/>
                </div>
            </form>
        </div>
    </div>

</div>