@page
@model IndexModel
@{
    ViewData["Title"] = "Servers";
}

<div class="text-center">
    <h1 class="display-4">Servers</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Entry 1</th>
            <th>Entry 2</th>
            <th>Entry 3</th>
            <th>Entry 4</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Data.Servers)
        {
            <tr>
                <td>@item.Key</td>

                @for (var i = 0; i < 4; i++)
                {
                    if (item.Value.Count > i)
                    {
                        var property = item.Value.ElementAt(i);
                        <td>@property.Value</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                }

                <td>
                    <a asp-page="Edit" asp-route-name="@item.Key">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>